<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>Tell Friends, Get Premium Everpresent</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="Everpresent is coming!"/>
        <meta property="og:description" content="Your New Secret Weapon. Didn't want to leave you all behind. Get around Everpresent here!"/>
        <meta property="og:image" content="<%= asset_path("refer/headerlogo.png") %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <%= stylesheet_link_tag "core.css", :media => "all" %>
	<!-- Latest compiled and minified CSS -->
        <%= csrf_meta_tags %>
				<link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
				        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
</head>
<body id="<%= @bodyId %>">
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1497411967214441',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%= yield %>


</body>
</html>
